/* css/reset.css */
/* Remove margens e preenchimentos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Imagens e mídias responsivas */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Botões */
button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

/* Listas */
ul, ol {
  list-style: none;
}